/* global styles */
*{
    margin: 0 ;
    box-sizing: border-box;
   }
   .wrapper {
       overflow: hidden;
       width: 100%;
   }
   /* header */
   
   header {
       width: 1200px;
       max-width: 100%;
       margin-left: auto;
       margin-right: auto;
       position: relative;
       padding: 20px 0;
       display: flex;
       align-items: center;
       justify-content: space-between;
       
   }
   
   /* mobile menu */
   input[type="checkbox"] {
       display: none;
   }
   input[type="checkbox"]:checked ~ nav {
       right: 0;
   }
   
   label {
       height: 30px;
       position: relative;
       display: none;
   }
   .toggle-btn {
       display: block;
       height: 2px;
       width: 30px;
       position: absolute;
       top: 12px;
       right: 15px;
       background-color: #555;
       border: none;
   }
   .toggle-btn::before {
       content: '';
       display: block;
       height: 2px;
       width: 30px;
       position: absolute;
       background-color: #555;
       border: none;
       position: relative;
       top: -10px;
   }
   .toggle-btn::after {
       content: '';
       display: block;
       height: 2px;
       width: 30px;
       position: absolute;
       background-color: #555;
       border: none;
       position: relative;
       top: 9px;
   }
   
   .menu {
       list-style: none;
       display: flex;
   }
   .menu li {
       margin-left: 55px;
   }
   .menu a {
       color: #555;
       text-decoration: none;
       
       padding-bottom: 10px;
   }
   .menu a:hover {
       color: #5363db;
       border-bottom: 3px solid #5363db;
       transition: opacity .5s ;
   }